<odoo>
  <data>  
    <menuitem id="menu_rental_management" name="Rental"  web_icon="bisa_rental,static/description/icon.png"/>

    <menuitem name="Contract" id="menu_rental_kontrak_top" parent="menu_rental_management" sequence="10"/>
    <menuitem name="Plan and Assigment" id="menu_rental_pna_top" parent="menu_rental_management" sequence="11"/>
    <menuitem name="Brief and Prepare" id="menu_rental_bnp_top" parent="menu_rental_management" sequence="12"/>
    <menuitem name="Report" id="menu_rental_report_top" parent="menu_rental_management" sequence="13"/>
    <menuitem name="Billing" id="menu_rental_billing_top" parent="menu_rental_management" sequence="14"/>
    <menuitem name="Breakdown" id="menu_rental_breakdown_top" parent="menu_rental_management" sequence="15"/>
    <!-- <menuitem name="Rental" id="menu_rental_top" parent="menu_rental_management" sequence="10"/> -->


   </data>
</odoo>


